/*公共样式*/
.fl {
	float: left;
}
.fr {
	float: right;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7kkyc2');
    src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
    url('../fonts/icomoon.woff?7kkyc2') format('woff'),
    url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fr .icomoon {
	font-family: 'icomoon';
	font-size: 16px;
	line-height: 26px;
}
/*版心*/
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
.style-orange {
	color: #ff8230;
}
.spacer {
	width: 1px;
	height: 12px;
	background-color: #dedede;
	margin: 9px 12px 0;
}
/*顶部快捷导航*/
.shortcut {
	height: 31px;
	background-color: #eeeeee;
	line-height: 31px;
}
.shortcut li {
	float: left;
}
.header{
    margin: 10px auto;
    height: 70px;
    
}
.logo{
    float: left;
    width: 207px;
    height: 70px;
}
/*logo搜索引擎优化*/
.logo h1{
    width: 207px;
    height: 70px;
}
.logo h1 a{
    display: block;
    width: 207px;
    height: 70px;
    background-image: url(../images/logo.png);
    background-size: contain;
    font-size: 0;
}


.nav{ 
    float:right;
    margin-left: 40px;
    height: 70px;
	font-size: 16px;
    
}
.nav li{
    float: left;
    margin-right: 48px;
    line-height: 70px;
}
.nav li:last-child{
    margin-right: 0px;
}
.nav li a{
    padding-bottom: 7px;
}
.nav li a:hover{
	
    color: #27ba9b;
    border-bottom: 1px solid #27babb;
}

/*版心*/
.banner{
    width: 100%;
    background-image: url(../images/logon.gif);
    background-repeat: no-repeat;
    background-size: 1580px 600px;
}

/*版权*/
.footer {
    height: 30px;
}
.footer p{
    line-height: 30px;
    font-size: 12px;
    color: #666;
    text-align: center;
}

.zhuti img{
	position: relative;
    width: 100%;
}
.zhuti .word {
	position: absolute;
	left: 350px;
	top: 190px;
	
}
.zhuti .word p:first-child{
	font-size: 50px;
	color: #fff;
	font-weight: 600px;
	
}
.zhuti .word p:last-child{
	font-size: 18px;
	color: #fff;
	
	margin-top: 20px;
}

.zhuti{
	background-color:#f6f6f6;
	border-bottom: 2px solid #d8d8d8;
	
}

.zhuti .wrapper ul li{
    width: 110px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 55px;
    text-align: center;
    line-height: 45px;
    color: #003067;
    font-size:25px;
    
}
.zhuti .wrapper ul li:hover{
	border-bottom: 4px solid #003067;
	
}

.new-body{
	margin-top: 70px;
}
.new-body h1 {
	
	color:#012c54;
	text-align: center;
}
.new-time{
	margin: auto;
	text-align: center;
}
.new-time ul{
	margin-top:30px;
	margin-left: 600px;

}
.new-time ul li{
	margin:0px 45px;
	float:left;
}
.new-body hr{
	width: 800px;
	margin-left: 360px;
}
.new-img{
	margin-top: 50px ;
	text-align: center;
	margin-bottom: 55px;
}
.new-article{
	margin:0px 350px;
	text-align: center;
}
.new-article span{
	line-height: 30px;
	font: "微软雅黑";
	font-size: 16px;
}
.new-show{
	float: left;
}
.new-show-img img{
	margin: 0px 5px;
	float: left;
	width: 40px;
	height: 40px;
}
.new-next{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 55%;
	
}
.a1{
	float: left;
}




/*页脚*/
.footer{
    margin-top: 40px;
    padding-top: 40px;
    height:240px;
    background-color: #32393e;
}
.footer .left{
    float:left;
}
.footer .left dl{
    float: right;
    margin-right: 60px;
    color: #fff;
}
.footer .left dt{
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 25px;
}
.footer .left dd{
    margin-bottom: 10px;
    font-size: 12px;
}


.footer .right{
    float: right;
    width: 300px;
    
}
.footer .right p{
    text-align: left;
}

.footer .zhong{
    flex: 1;
    justify-content:center;
}
.footer .zhong .w{
    display: inline-block;
    
    margin-top: 18px;
}
.footer .zhong .w span{
    margin-left: 40px;
}
.footer .zhong .w h5{
    
    margin-top: 13px;
    text-align: center;
}
.footer .zhong .vx{
    display: inline-block;
    margin-left: 50px;
}
.footer .zhong .vx h5{
    text-align: center;
}

.footer .right p:first-child{
    font-size: 16px;
    font-weight: 600;
    color: #e9eeef;
}
.footer .right p:nth-child(2){
    margin-top: 10px;
    font-size: 35px;
    line-height: 50px;
    color: #fafaf7;
}
.footer .right p:nth-child(2) img{
    vertical-align: middle;
    margin-right: 5px;
}
.footer .right p:last-child{
    margin-top: 10px;
    font-size: 15px;
    color: #737678;
}

 .banquan{
    margin-top: 60px;
}
.banquan hr{
    border-top: 1px; ;
    color: #666;
    
}
 .banquan p{
    margin-top: 20px;
    text-align: center;
    color: #737678;
}

