.new-List-one{
	height: 250px;
}
.new-List .wrapper .new-List-one{
	height: 300px;
}
.new-List .wrapper .new-List-one span{
	display: inline-block;
	
}
.new-List .wrapper .new-List-one span:first-child{
	margin-top: 40px;
	margin-right: 32px;
}

.new-List .wrapper .new-List-one span: nth-child(2)img{
	width: 100%;
	
	
}
.new-List .wrapper .new-List-one span:last-child{
	width: 700px;
	margin-left: 40px;
	
}

